html, body {
  /* reset default margins and paddings in browsers */
  margin: 0;
  padding: 0;
}

body {
  background: white url('images/body-bg.gif') repeat-x top left;
  font-family: "Myriad Pro", Verdana, Helvetica, Arial, Sans-serif;
  font-size: 11pt;
}

a {
  color: lightgrey;
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
}

a img {
  border: none;
}

table.course {
  margin 0 auto;
  width: 100%;
  clear: both;
}

.hidden {
  display: none;
}

#bg_container {
  background:  url("/site_media/css/images/bg_shadow.png") repeat-y;
  margin: auto;
  width: 980px;
}

#class_list {
  margin: 0;
  padding: 0;
}

#page-container {
  /* center this div */
  margin: auto;
  width: 960px;
  padding-bottom: 30px;
}

#header {
  background: black url("images/header_bg.jpg") repeat-x top left;
  color: white;
  height: 100px;
}

#header_bottom {
  background-color: #505050;
  color: white;
  font-size: large;
  height: 50px;
}

#header_menu {
  background: #006699;
  height: 50px;
  margin: auto;
  width: 960px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
}

#header_menu ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#header_menu li {
  float: left;
  padding: 12px 0 0 15px;
}

#header #logo {
  margin: 0;
  padding: 0;
  margin: auto;
  padding-left: 20px;
  width: 960px;
}

#mid-wrapper {
  background: #333333;
} 

#sidebar {
  background: #333333;
  color: white;
  float: left;
  font-size: medium;
  width: 220px;
}

#toolbar {
  background: transparent url("/site_media/css/images/bottom_bar.png") no-repeat scroll;
  line-height: 35px;
  margin-left: 10px;
  position: fixed;
  visibility: visible;
  width: 960px; 
  z-index: 1000;
  bottom: 0;
}

#content-wrapper {
  background: #FFFFEE;
  margin-left: 220px;
  min-height: 750px;
}

#content-nav {
  color: red;
  border-bottom: 2px solid #eeeeee;
  line-height: 30px;
  margin: 0 10px 0;
}

#content-nav p {
  margin: 0;
  padding: 0;
}

#content_nav_sublinks {
/*
  float: right;
  margin-right: 10px;
  padding-top: 10px;
*/
}

#content_nav_sublinks .content_nav_sublinks {
  color: gray;
  float: right;
  margin-right: 10px;
  padding-top: 10px;
  text-align: center;
}

#content_nav_sublinks .content_nav_sublinks img {
  padding: 0 15px;
}

#content_nav_view {
  padding-top: 10px;
}

#content {
  color: black; 
}

#footer {
  background: #666666;
  border-top: 1px solid lightgray;
  clear: both;
  font-size: 9pt;
  color: lightgray;
  padding: 10px 0 0 10px;
  line-height: 18px;
  height: 30px;
} 

#teacher_table_box {
  background: #ffaa55;
  border: 1px solid #dd7700;
  height: 25px;
  width: 200px;
  margin: 10px auto 30px;
  text-align: center;
}

#teacher_table_box span {
  color: #aa5500;
  line-height: 25px;
}

#header .logo {
  float: right;
  margin-top: 40px;
}

#class_list a {
  color: gray;
}

#class_list a:hover {
  color: black;
  text-decoration: underline;
}

#class_list div.class_thumb {
  float: left;
  padding: 0 20px;
  text-align: center;
}

#content h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

#content p {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

#content #content_main {
  line-height: 18px;
  padding: 10px;
}

#content-nav .padding {
  padding-left: 10px;
}

#detail_view:hover {
  cursor: pointer;
}

#sidebar .padding {
  line-height: 18px;
  padding: 10px;
}

#footer a {
  color: white;
  text-decoration: none;
}

#footer a:hover {
  color: lightblue;
}

#toolbar span {
  color: white;
  display: block;
  font-size: small;
  position: relative;
}

#thumb_view:hover {
  cursor: pointer;
}

span#tb_search {
  float: left;
  font-size: 10pt;
  margin-left: 20px;
}

span#tb_notification {
  float: right; 
  font-size: 10pt;
  margin-right: 20px;
}

span#tb_login {
  float: right;
  font-size: 10pt;
  font-weight: bold;
  margin-right: 20px;
}

/*
#toolbar ul {
  bottom: 0;
  position: absolute;
}

#toolbar ul li {
  display: block;
  position: relative;
}

#toolbar ul li#tb_search {
  float: left;
  margin-left: 20px;
}

#toolbar ul li#tb_login {
  float: right;
  margin-right: 20px;
}
*/
