{% extends "base/base.html" %}

{% block head %}
  <script type="text/javascript">
    /* 
       TODO: May not be the most efficient way.
             Should ignore td hover.
    */
    var oTable;

    $(document).ready(function() {
      $('#inbox tbody td').hover( function() {
        var iCol = $('td').index(this) % 5;
        var nTrs = oTable.fnGetNodes();
        $('td:nth-child('+(iCol+1)+')', nTrs).addClass( 'highlighted' );
      }, function() {
        var nTrs = oTable.fnGetNodes();
        $('td.highlighted', nTrs).removeClass('highlighted');
      } );
      
      oTable = $('#inbox').dataTable( {
        "bSortClasses": false,
        "aaSorting": [[2,"desc"]],
        "aoColumns": [
          null,
          null,
          null,
          { "bSortable": false },
          { "bSortable": false }
        ]
      });
    });
  </script>
{% endblock %}

{% block content %}
  <h2>Inbox</h2>
  <a href="/messages/new/" class="button">
    New Message 
  </a>

  <table id="inbox" class="display" border="0">
    <thead>
      <tr>
        <th>From</th>
        <th>Subject</th>
        <th>Date Received</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for message in messages %}
      <tr
        {% if not message.read %}
          class="unread">
        {% else %}
          >
        {% endif %}
        <td>
          <a href="/messages/{{ message.id }}/">
            {{ message.sender.first_name }} {{ message.sender.last_name }}
          </a>
        </td>
        <td>
          <a href="/messages/{{ message.id }}/">
            {{ message.subject }}
          </a>
        </td>
        <td>
          <a href="/messages/{{ message.id }}/">
            {{ message.created_at }}
          </a>
        </td>
        <td>
          <center>
            <a href="/messages/{{ message.id }}/make_unread/" class="button">
              Mark Unread
            </a>
          </center>
        </td>
        <td>
          <center>
            <a href="javascript:confirm_delete('/messages/{{ message.id }}/delete/')"
               class="button">
              Delete
            </a>
          </center>
        </td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}
