{% load custom_filters %}

{% block content %}
  <table id="uploaded_asgn" border="1">
    <thead>
      <tr>
        <th>Gradeable Name</th>
        <th>File</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
      {% for item in uploaded %}
        <tr>
          <td>{{ item.gradeable.name }}</td>
          <td>
            <a href="{{ item.file.url }}">{{ item.file.name|basename }}</a>
          </td>
          <td>{{ item.due_date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!--form method="post" action="/courses/{{ course_id }}/gradeables/uploaded/edit/">
      <table>
          {{ formset }}
      </table>
      <input type="button" value="Submit" 
             onClick="ajax_submit('/courses/{{ course_id }}/gradeables/uploaded/edit/')"/>
  </form-->
{% endblock %}
