{% load custom_filters %}

{% block head %}
  <script type="text/javascript">
    /* 
       TODO: May not be the most efficient way.
             Should ignore td hover.
    */
    var oTable;

    $(document).ready(function() {
      $('#uploaded_asgn tbody td').hover( function() {
        var iCol = $('td').index(this) % 3;
        var nTrs = oTable.fnGetNodes();
        $('td:nth-child('+(iCol+1)+')', nTrs).addClass( 'highlighted' );
      }, function() {
        var nTrs = oTable.fnGetNodes();
        $('td.highlighted', nTrs).removeClass('highlighted');
      } );
      
      oTable = $('#uploaded_asgn').dataTable( {
        "bSortClasses": false,
      });
    });
  </script>
{% endblock %}

{% block content %}
  <h3>Uploaded Assignments</h3>
  <table id="uploaded_asgn" class="display">
    <thead>
      <tr>
        <th>Gradeable Name</th>
        <th>File</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
      {% for item in uploaded %}
        <tr>
          <td>{{ item.gradeable.name }}</td>
          <td>
            <a href="{{ item.file.url }}">{{ item.file.name|basename }}</a>
          </td>
          <td>{{ item.due_date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
