{% load custom_filters %}

{% block content %}
  {% if submissions %}
    <table id="submissions" border="1">
      <thead>
        <tr>
          <th>Gradeable Name</th>
          <th>Submitted File</th>
          <th>Submission Date</th>
        </tr>
      </thead>
      <tbody>
        {% for item in submissions %}
          <tr>
            <td>{{ item.gradeable.name }}</td>
            <td>
              <a href="{{ item.file.url }}">{{ item.file.name|basename }}</a>
            </td>
            <td>{{ item.submission_date }}</td>
          </td>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No submissions found</p>
  {% endif %}
{% endblock %}

