{% extends "base/base.html" %}
{% load custom_filters %}

{% block ajax %}
  <script type="text/javascript">
    function enable_sorting() {
      $(function() {
        $("#sortable_students_col_1, #sortable_students_col_2").sortable({
          connectWith: '.connectedSortable',
          placeholder: 'ui-sortable-placeholder',
          update : function () { 
            var order_left = $('#sortable_students_col_1').sortable('serialize'); 
            var order_right = $('#sortable_students_col_2').sortable('serialize'); 
            $.post("/courses/{{ course_id }}/update_seating_order?"+order_left+"&"+order_right); 
          } 
        }).disableSelection();
      });

      /* Enable JEditable */
      $('.inline-editable').editable('/courses/{{ course_id }}/grades/update', {
         indicator : 'Saving...',
         tooltip   : 'Click to edit...'
      });

      $('#change_date_form').ajaxForm({
        target: '#attendance',
        success: function() {
          $('#attendance').fadeIn('slow');
        }
      });

      /* Datepicker */
      $("#id_date").datepicker({
        dateFormat: 'yy-mm-dd',
        onSelect: function() {
          $("#change_date_form").submit();
        }
      });

    }

    var selection_wrapper = function(remove_selector, this_element_id) {
      jQuery(function($) {
        /* remove all selection first */
        $(remove_selector).removeClass("selected");
        /* then enable selection for this element */
        $(this_element_id).addClass("selected");
      });

      return enable_sorting();
    };

    function ajax_submit(url) {
      $.post(url);
    }

    $.ajaxSetup ({
      cache: false
    });

    $( document ).ready( function() {
      var ajax_load = "<img src='/site_media/css/images/loading.gif' alt='loading...' />";

      // Default action
      $(function() {
        $("#content_main").html(ajax_load).load(
          '{{ default_url }}',
          selection_wrapper(parent_selector, "#{{ selected_cls_menu_id }}")
        );
      });

      var parent_selector = "#content_nav_sublinks li";

      $("#view_attendance").click(function(){
        $("#content_main").html(ajax_load).load(
          '{% url connectus.courses.views.attendance course_id %}',
          selection_wrapper(parent_selector, "#view_attendance")
        );
      });

      $("#view_grades").click(function(){
        $("#content_main").html(ajax_load).load(
          '{% url connectus.courses.views.grades course_id %}',
          selection_wrapper(parent_selector, "#view_grades")
        );
      });

      $("#view_own_grades").click(function(){
        $("#content_main").html(ajax_load).load(
          '{% url connectus.courses.views.view_own_grades course_id %}',
          selection_wrapper(parent_selector, "#view_own_grades")
        );
      });

      $("#view_gradeables").click(function(){
        $("#content_main").html(ajax_load).load(
          '{% url connectus.submissions.views.view_uploaded course_id %}',
          selection_wrapper(parent_selector, "#view_gradeables")
        );
      });

      $("#view_seating_plan").click(function(){
        $("#content_main").html(ajax_load).load(
          '{% url connectus.courses.views.view_seating_plan course_id %}',
          selection_wrapper(parent_selector, "#view_seating_plan")
        );
      });

      $("#view_submissions").click(function(){
        $.ajax({
          type: 'GET',
          url: '{% url connectus.submissions.views.view_submissions course_id %}',
          complete: function(xhr, text_status) {
            if (xhr.status == '302') {
              window.location.href = xhr.responseText;
            }
          },
          success: function(response, text_status, xhr) {
            $('#content_main').html(response);
            selection_wrapper(parent_selector, "#view_submissions");
          }
        });
      });

    });
  </script>

{% endblock %}

{% block head %}

  <style type="text/css">
    #sortable_students_col_1, #sortable_students_col_2 { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 80px; width: 280px;}
    #sortable_students_col_1 li, #sortable_students_col_2 li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 120px; height: 140px; text-align: center; }
    .ui-state-default {background-color:beige; border: 1px solid #CCC; }
    .ui-sortable-placeholder { border: 2px dotted gray; visibility: visible !important; height: 140px !important; background: lightblue;}
  </style>
{% endblock %}

{% block content_header %}
  <div id="content_header">
    <h2>{{ course_title }}</h2>
  </div>
{% endblock %}

{% block content-nav %}
  <div id="content-nav">
    <div id="content_nav_sublinks">
      <ul>
      {% for action_title,action in permitted_actions.items %}
        <li id="{{ action.id }}" class="content_nav_sublinks">
          <img src="/site_media/css/images/{{ action.icon_path }}" alt="{{ action_title }}" width="30" height="30"/>
          <p>{{ action_title }}</p>
        </li>
      {% endfor %}
      </ul>
    </div>
    <br/>
  </div>
{% endblock %}
