{% extends "base/base.html" %}

{% block ajax %}
  <script type="text/javascript">
    function enable_sorting() {
      $(function() {
        $("#sortable_students_col_1, #sortable_students_col_2").sortable({
          connectWith: '.connectedSortable',
          placeholder: 'ui-sortable-placeholder',
          update : function () { 
            var order_left = $('#sortable_students_col_1').sortable('serialize'); 
            var order_right = $('#sortable_students_col_2').sortable('serialize'); 
            $.post("/courses/{{ course_id }}/update_seating_order?"+order_left+"&"+order_right); 
          } 
        }).disableSelection();
      });

      /* Enable JEditable */
      $('.inline-editable').editable('/courses/{{ course_id }}/grades/update', {
         indicator : 'Saving...',
         tooltip   : 'Click to edit...'
      });

    }

    $.ajaxSetup ({
      cache: false
    });

    $( document ).ready( function() {
      var ajax_load = "<img src='/site_media/css/images/loading.gif' alt='loading...' />";

      // Default action
      $(function() {
        $("#content_main").html(ajax_load).load(
          '{% url connectus.courses.views.view_seating_plan course_id %}', enable_sorting);
      });

      $("#thumb_view").click(function(){
        $("#content_main").html(ajax_load).load(
          '{% url connectus.courses.views.view_seating_plan course_id %}', enable_sorting);
      });
      $("#detail_view").click(function(){
        $("#content_main").html(ajax_load).load(
          '{% url connectus.courses.views.grades course_id %}', enable_sorting);
      });


    });
  </script>
{% endblock %}

{% block head %}

  <style type="text/css">
    #sortable_students_col_1, #sortable_students_col_2 { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 80px; width: 280px;}
    #sortable_students_col_1 li, #sortable_students_col_2 li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 120px; height: 140px; text-align: center; }
    .ui-state-default {background-color:beige; border: 1px solid #CCC; }
    .ui-sortable-placeholder { border: 2px dotted gray; visibility: visible !important; height: 140px !important; background: lightblue;}
  </style>
{% endblock %}


{% block content-nav %}
  <div id="content-nav">
    <div id="content_nav_sublinks">
      <div class="content_nav_sublinks">
        <img src="/site_media/css/images/thumb_view.png" alt="Thumbnail View" width="45" height="45"/> 
        <p>Status</p>
      </div> 
      <div class="content_nav_sublinks">
        <img src="/site_media/css/images/thumb_view.png" alt="Thumbnail View" width="45" height="45"/> 
        <p>Grades</p>
      </div>
      <div class="content_nav_sublinks">
        <img src="/site_media/css/images/thumb_view.png" alt="Thumbnail View" width="45" height="45"/> 
        <p>Attendance</p>
      </div>
    </div>
    <div id="content_nav_view">
      <img id="thumb_view" src="/site_media/css/images/thumb_view.png" title="Switch to Thumbnail View" alt="Thumbnail View" width="25" height="25"/>
      <img id="detail_view" src="/site_media/css/images/detail_view.png" title="Switch to Detail View" alt="Detail View" width="25" height="25"/>
    </div>
    <br/>
  </div>
{% endblock %}
