{% extends "base/base.html" %}

{% block content-nav %}
  <div id="content-nav">
    <div id="content_nav_sublinks">
      <div class="content_nav_sublinks">
        <img src="/site_media/css/images/thumb_view.png" alt="Thumbnail View" width="45" height="45"/> 
        <p>Status</p>
      </div> 
      <div class="content_nav_sublinks">
        <img src="/site_media/css/images/thumb_view.png" alt="Thumbnail View" width="45" height="45"/> 
        <p>Grades</p>
      </div>
      <div class="content_nav_sublinks">
        <img src="/site_media/css/images/thumb_view.png" alt="Thumbnail View" width="45" height="45"/> 
        <p>Attendance</p>
      </div>
    </div>
    <div id="content_nav_view">
      <img src="/site_media/css/images/thumb_view.png" alt="Thumbnail View" width="25" height="25"/> 
      <img src="/site_media/css/images/detail_view.png" alt="Detail View" width="25" height="25"/> 
    </div>
    <br/>
  </div>
{% endblock %}
