<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<title>
    {% block title %}Connectus{% endblock %}
  </title>
	<meta http-equiv="Content-Language" content="en-us" />
	
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="MSSmartTagsPreventParsing" content="true" />
	
	<meta name="description" content="Description" />
	<meta name="keywords" content="Keywords" />
	
	<meta name="author" content="Aegis" />
	
  <style type="text/css" title="currentStyle">
    @import url("/site_media/css/style.css");
    @import url("/site_media/css/data_table.css");
  </style>

  <script type="text/javascript" src="/site_media/js/jquery.js"></script>
  <script type="text/javascript" src="/site_media/js/jquery-ui.js"></script>
  <script type="text/javascript" src="/site_media/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="/site_media/js/jquery.jeditable.js"></script>

  {% block ajax %}
  {% endblock %}
  {% block head %}
  {% endblock %}
</head>

<body>
  <div id="static-nav"></div>
  <div id="bg_container">
    <div id="page-container">
      <div id="header">
        <div id="logo">
          <a href="/"><img alt="Connectus" src="/site_media/css/images/logo_small.png"></img></a>
        </div>
      </div>
      <div id="mid-wrapper">
        <div id="sidebar">
          <div class="padding">
            <dl>
              <dt id="sidebar_calendar">Inbox</dt>
              <dt id="sidebar_classes">
                <a href="{% url connectus.courses.views.index %}">Classes</a>
              </dt>
                {% for course in courses %}
                <dd>
                  <a href="{% url connectus.courses.views.grades course.id %}">
                    {{ course.title }}
                  </a>
                </dd>
                {% endfor %}
              <dt id="sidebar_grades">
                <a href="{% url connectus.grades.views.index %}">Grades</a>
              </dt>
              <dt id="sidebar_calendar">Calendar</dt>
            </dl>
          </div>
        </div>
        <div id="content-wrapper">
          {% block content-nav %}
          {% endblock %}
          <div id="content">
            <div id="content_main">
              {% block content %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
      <div id="footer">Copyright © 2010 Aegis</div>
    </div>
    <div id="toolbar">
      <span id="tb_search">Search  <input type="textfield"></input></span>
      <span id="tb_login">Logout</span>
      <span id="tb_notification">Notification</span>
      <!--ul>
        <li id="tb_search">Search</li>
        <li id="tb_login">Login</li>
      </ul-->
    </div>
  </div>
</body>
</html>
