{% extends "base/base.html" %}


{% block content %}
<h2>Welcome to Connectus!</h2>
<br/>
<!-- TODO: Use different icons for diff class -->
<div id="class_list">
  {% for course in courses %}
    <div id="{{ course.title|slugify }}" class="class_thumb">
      <a href="{% url connectus.courses.views.detail course.id %}">
        <img alt="{{ course.title }}" src="/site_media/css/images/{{ course.icon_path }}"/>
        <p>{{ course.title }}</p>
      </a>
    </div>
  {% empty %}
  {% endfor %}
</div>
{% if children %}
  <h3>Monitor your children's progress:</h3>
  {% for child in children %}
    <div id="{{ child.username }}" class="class_thumb">
      <a href="{% url connectus.stats.views.index %}">
        <img alt="{{ child.first_name }} {{ child.last_name }}"
             src="/site_media/images/users/{{ child.get_profile.image_path }}"/>
        <p>{{ child.first_name }} {{ child.last_name }}</p>
      </a>
    </div>
  {% empty %}
    You have no children registered in this school
  {% endfor %}
{% endif %}
{% endblock %}

