{% extends "base/base.html" %}

{% block head %}
  <script type="text/javascript">
    $(document).ready(function() {
      /*
      var ajax_load = "<img src='/site_media/css/images/loading_small.gif' alt='loading...' />";
      $("#announcement_block").html(ajax_load).load("/messages/announcements/");
      */
    });
  </script>
{% endblock %}


{% block content %}
<h2>Welcome to Connectus!</h2>
<br/>
<!-- TODO: Use different icons for diff class -->
<div id="class_list">
  {% for course in courses %}
    <div id="{{ course.title|slugify }}" class="class_thumb">
      <a href="{% url connectus.courses.views.detail course.id %}">
        <img alt="{{ course.title }}" src="/site_media/css/images/{{ course.icon_path }}"/>
        <p>{{ course.title }}</p>
      </a>
    </div>
  {% empty %}
  {% endfor %}
</div>
{% if children %}
  <h3>Monitor your children's progress:</h3>
  {% for child in children %}
    <div id="{{ child.username }}" class="class_thumb">
      <a href="{% url connectus.stats.views.index %}">
        <img alt="{{ child.first_name }} {{ child.last_name }}"
             src="/site_media/images/users/{{ child.get_profile.image_path }}"/>
        <p>{{ child.first_name }} {{ child.last_name }}</p>
      </a>
    </div>
  {% empty %}
    You have no children registered in this school
  {% endfor %}
{% endif %}

  <div id="announcement_block">
  <h2>News and Announcements</h2>

  <ul id="announcements" class="announcement">
    {% for announcement in announcements %}
    <li class="{% cycle 'odd' 'even' %}">
      <div id="ann_date" class="date">
        <p>{{ announcement.created_at }}</p>
      </div>
      <div id="ann_title" class="title">
        <p style="padding: 0 0 5px;">{{ announcement.course.title }}: {{ announcement.title }}</p>
      </div>
      <div id="ann_author" class="author">
        <img src="/site_media/images/users/{{ announcement.author.get_profile.image_path }}"
             alt="{{ announcement.author.first_name }} {{ announcement.author.last_name }}"/>
        <p>{{ announcement.author.first_name }} {{ announcement.author.last_name }}</p>
      </div>
      <div id="ann_content" class="content">
        <p style="padding: 0 0 5px;">{{ announcement.message }}</p>
      </div>
    </li>
    {% empty %}
      <p>There are no announcements at the moment</p>
    {% endfor %}
  </ul>
  </div>
{% endblock %}

