{% extends "base/base.html" %}

{% block head %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#sidebar").remove();
      $("#content-wrapper").css({ 'margin-left':'0' });
      $("#id_username").focus();
    });
  </script>
{% endblock %}

{% block content %}
  <div id="login">
    <h3 style="border-bottom: gray solid 1px; padding: 15px 0 5px; margin: 10px;">Login to Connectus</h3>
    <form id="login_form" action="{{ request.path }}" method="post">
      <table>
        {{ form.as_table }}
      </table>
      <input class="submit" type="submit" value="Login" />
    </form>
  </div>
{% endblock %}
