{% extends "base/base.html" %}

{% block head %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#sidebar").remove();
      $("#content-wrapper").css({ 'margin-left':'0' });
      $("#id_username").focus();
    });
  </script>
{% endblock %}

{% block content %}
  <div id="logout" class="message">
    <p>Successfully logged out.</p>
    <p>To access your Connectus page again, please
      <a href="/accounts/login">click here</a>
      to login
    </p>
  </div>
{% endblock %}

