{% block head %}
  <script type="text/javascript">
    /* 
       TODO: May not be the most efficient way.
             Should ignore td hover.
    */
    var oTable;

    $(document).ready(function() {
      $('#grades tbody td').hover( function() {
        var iCol = $('td').index(this) % ({{ gradeables_length }} + 1);
        var nTrs = oTable.fnGetNodes();
        $('td:nth-child('+(iCol+1)+')', nTrs).addClass( 'highlighted' );
      }, function() {
        var nTrs = oTable.fnGetNodes();
        $('td.highlighted', nTrs).removeClass('highlighted');
      } );
      
      oTable = $('#grades').dataTable( {
        "bSortClasses": false
      } );

      /* Add action */
      var ajax_load = "<img src='/site_media/css/images/loading.gif' alt='loading...' />";

      $("#add_action a").click(function(){
        $("#content_main").html(ajax_load).load(
          '{% url connectus.grades.views.add course_id %}', enable_sorting);
      });
    } );
  </script>
{% endblock %}

{% block content %}
  <h3>Grades</h3>

  {% if all_gradeables %}
    <div id="add_action">
      <a href="#" class="button">
        <img src="/site_media/css/images/add.png" width="20" height="20">
          Add new
        </img>
      </a>
    </div>

    <table id="grades" class="display">
      <thead>
        <tr>
          <th>Student Name</th>
          {% for gradeable in all_gradeables %}
          <th colspan="2">{{ gradeable.name }}</th>
          {% endfor %}  
        </tr>
      </thead>
      <tbody>
        {% for student,grades in grades_by_student.items %}
        <tr>
          <td>{{ student.first_name }} {{ student.last_name }}</td>
          <!-- this is a hack due to django's limitation on accessing
               dictionary within a dictionary -->
          {% for gradeable in all_gradeables %} 
            {% for gradeable_name,grade in grades.items %}
              {% ifequal gradeable_name gradeable.name %}
              <td class="inline-editable" id="uid_{{ student.id }}-gradeable_{{ gradeable.id }}-grade_{{ grade.id }}">{{ grade.score}}</td>
              <td>
                {% if grade.id %}
                  <a href="javascript:confirm_delete('/grades/{{ grade.id }}/delete/')">
                    <center>
                    <img src="/site_media/css/images/cross.png" alt="Delete" width="15" height="15"></img>
                    </center>
                  </a>
                {% endif %}
              </td>
              {% endifequal %}
            {% endfor %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
      <p>No students are registered in this class.</p>
  {% endif %}
{% endblock %}
