<h2>Class: {{ course_title }}</h2>

{% load course_extras %}

{% if all_gradeables %}
  <table border="1">
    <tr>
      <th>Student Name</th>
      {% for gradeable in all_gradeables %}
      <th>{{ gradeable.name }}</th>
      {% endfor %}  
    </tr>
    {% for student_name,grades in grades_by_student.items %}
    <tr>
      <td>{{ student_name }}</td>
      <!-- this is a hack due to django limitation on accessing
           dictionary within a dictionary -->
      {% for gradeable in all_gradeables %} 
        {% for gradeable_name,grade in grades.items %}
          {% ifequal gradeable_name gradeable.name %}
          <td>{{ grade.score }}</td>
          {% endifequal %}
        {% endfor %}
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
{% else %}
    <p>No grades are available.</p>
{% endif %}

