{% extends "base/base.html" %}

{% block head %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#course').dataTable();
    } );
  </script>
{% endblock %}

{% block content %}
  <h2>List of All Classes</h2>
  {% if all_courses %}
    <table id="course" class="course">
      <thead>
        <tr>
          <th>Course Title</th>
          <th>Description</th>
          <th>Term</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        {% for course in all_courses %}
        <tr>
          <td>{{ course.title }}</td>
          <td>{{ course.description }}</td>
          <td>{{ course.term }}</td>
          <td>{{ course.year }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
      <p>No courses are available.</p>
  {% endif %}
{% endblock %}
