{% block content %}
  <h2>{{ course.title }} - Seating Plan</h2>
  <div id="teacher_table_box">
    <span>Teacher Table</span>
  </div>
  <div id="seating_plan">
    <ul id="sortable_students_col_1" class="connectedSortable">
      {% for id,student in seating_left.items %}
        <li id="{{ id }}" class="ui-state-default">
          <img alt="{{ student.first_name }} {{ student.last_name }}"
               src="{{ profile_img_basepath }}/{{ student.get_profile.image_path }}"/>
          <p>{{ student.first_name }} {{ student.last_name }}</p>
        </li>
      {% endfor %}
    </ul>
    <ul id="sortable_students_col_2" class="connectedSortable">
      {% for id,student in seating_right.items %}
        <li id="{{ id }}" class="ui-state-default">
          <img alt="{{ student.first_name }} {{ student.last_name }}"
               src="{{ profile_img_basepath }}/{{ student.get_profile.image_path }}"/>
          <p>{{ student.first_name }} {{ student.last_name }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
