{% block content %}
  <h2>{{ course.title }} - Seating Plan</h2>
  <ul id="sortable_students">
    <li class="ui-state-default">
      <img title="View Bill's detail info" src="/site_media/css/images/thumb_view.png" alt="Thumbnail View"/>
      <p>Bill</p>
    </li>
    <li class="ui-state-default">
      <img title="View Bill's detail info" src="/site_media/css/images/thumb_view.png" alt="Thumbnail View"/>
      <p>John</p>
    </li>
    <li class="ui-state-default"/>
    <li class="ui-state-default">
      <img title="View Bill's detail info" src="/site_media/css/images/thumb_view.png" alt="Thumbnail View"/>
      <p>Alice</p>
    </li>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
  </ul>
{% endblock %}
