{% block content %}
  <h2>{{ course.title }} - Seating Plan</h2>
  <div id="teacher_table_box">
    <span>Teacher Table</span>
  </div>
  <ul id="sortable_students">
    <li class="ui-state-default">
      <img title="View Bill's detail info" src="/site_media/images/boy1.jpg" alt="Thumbnail View"/>
      <p>Bill</p>
    </li>
    <li class="ui-state-default">
      <img title="View Bill's detail info" src="/site_media/images/boy2.jpg" alt="Thumbnail View"/>
      <p>John</p>
    </li>
    <li class="ui-state-default"/>
    <li class="ui-state-default">
      <img title="View Bill's detail info" src="/site_media/images/girl1.jpg" alt="Thumbnail View"/>
      <p>Alice</p>
    </li>
    <li class="ui-state-default">
      <img title="View Bill's detail info" src="/site_media/images/girl4.jpg" alt="Thumbnail View"/>
      <p>Alice</p>
    </li>
    <li class="ui-state-default">
      <img title="View Bill's detail info" src="/site_media/images/girl2.jpg" alt="Thumbnail View"/>
      <p>Melissa</p>
    </li>
    <li class="ui-state-default">
      <img title="View Bill's detail info" src="/site_media/images/girl3.jpg" alt="Thumbnail View"/>
      <p>Beth</p>
    </li>
    <li class="ui-state-default"/>
    <li class="ui-state-default">
      <img title="View Bill's detail info" src="/site_media/images/boy3.jpg" alt="Thumbnail View"/>
      <p>Bob</p>
    </li>
    <li class="ui-state-default">
      <img title="View Bill's detail info" src="/site_media/images/boy4.jpg" alt="Thumbnail View"/>
      <p>Andy</p>
    </li>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
    <li class="ui-state-default"/>
  </ul>
{% endblock %}
